.colorpeach{
    color: #ffe5b4;
}

.peachcomplementary{
    color: #7d8caa;
}

html{
    background: #ffe5b4;
    font: 1.1em sans-serif;
}

ul{
    display: table;
    width:300px;
    margin: 100px auto;
    padding: 0;
    background: linear-gradient(#7d8caa,#adb8cc );
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);

}

ul li{
    display: table-cell;
}