html{
    background: white;
    font: 1.1em sans-serif;
}

body{
    margin: 0;
}

ul{
    padding: 0;
    background: #2a2a2e;
    margin: 0;
}

ul li{
    display: table-cell;
    padding: 0.5em;
}

.titlefont{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#navbar a{
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    text-shadow: 2px 2px black ;
}

#navbar a:visited{
    color: white;
}

#navbar a:hover{
    color: blueviolet;
}

#pagecontent{
    margin: 100px auto;
    width: 80%;
}